

/* PRODUCT CARDS */
.product-card {
    width: 800px;
    margin: 30px auto;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;

    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* PRODUCT IMAGE */
.product-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

/* PRODUCT INFORMATION */
.product-details {
    flex: 1;
}
.product-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.price {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
/* BUTTON */
.buy-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #222;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #555;
    transform: scale(1.03);
}

/* MOBILE */
@media (max-width: 768px) {
    .product-card {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }

    .product-card img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}